# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/
.venv/
env.bak/
venv.bak/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# PyTorch/Transformers caches
.cache/
huggingface/
